<div class="specie-container">
  <div class="specie-header">
    <h3><%= @specie.name %></h3>
    <%= image_tag @specie.image_url %>
    <%= @specie.description %>
  </div>
  <div class="add-plant-form">
    <%= simple_form_for [ @specie, @plant ] do |f| %>
      <h3>Your plant</h3>
      <%= f.input :nickname, label: false %>
      <div class="form-buttons">
        <fieldset class="form-group radio_buttons required plant_exposure">
            <div class="exposure-wrapper">
              <input type="hidden" name="plant[exposure_id]" value="">
              <div class="exposure-item">
                <%= f.input :exposure,
                  label: false,
                  as: :radio_buttons,
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'exposure-wrapper',
                  item_wrapper_class: 'exposure-item',
                  input_html: {class: 'exposure-selector'},
                  collection: Plant::EXPOSURES
                %>
              </div>
            </div>
        </fieldset>

        <button name="button" type="submit" class="button">
          add
        </button>
      </div>

      <%#= f.submit "add my plant", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
