<div class="card-species">
  <div class="card-species-img card-plants-img">
    <%= link_to plant_path(plant.id) do %>
      <%= image_tag plant.specie.image_url %>
    <% end %>
  </div>
  <div class="card-species-infos card-plants-infos">
    <%= link_to plant_path(plant.id) do %>
      <h2><%= plant.nickname %></h2>
      <p> <%= plant.specie.name %></p>
      <div class="bar" data-energy="<%= plant.plant_energy %>">
        <div id="energy-bar"></div>
     </div>
    <% end %>
  </div>
    <div class="create-watering" id="sweetalert-water">
      <%= link_to inline_svg_tag('watering-can.svg'), plant_waterings_path(plant.id), method: :post %>
    </div>
</div>
