<div class="container">
  <h1>Hello <%= @user.username.capitalize %>!</h1>

  <div class="user-btn">
    <%= link_to species_path do %>
      <div class="add-button user-button">
        <%= icon('fas', 'plus-circle') %> Add a new plant
      </div>
    <% end %>

    <%= link_to eplant_path(@user.eplant.id) do %>
      <div class="eplant-button user-button">
        <%= icon('fab', 'pagelines') %> Visit <%= @user.eplant.nickname.capitalize %>, your eplant
      </div>
    <% end %>
  </div>

  <div class="cards mt-5">
    <% if current_user.plants_need_watering?(1, 0) %>
      <h3>Water this plant</h3>
      <% current_user.plants_to_water(1, 0).each do |plant| %>
        <%= render 'plant_cards', plant: plant %>
      <% end %>
    <% end %>
    <% if current_user.plants_need_watering?(1, 1) %>
      <h3>Water tomorrow</h3>
      <% current_user.plants_to_water(1, 1).each do |plant| %>
        <%= render 'plant_cards', plant: plant %>
      <% end %>
    <% end %>
  </div>
  <div class="small-cards mt-4">
    <% if current_user.plants_need_watering?(15, 2) %>
      <h3>Next plants to water</h3>
      <% current_user.plants_to_water(15, 2).each do |plant| %>
        <%= render 'plant_smallcards', plant: plant %>
      <% end %>
    <% end %>
  </div>

  <div class="user-calendar mt-5">
    <h2>Calendar</h2>
    <%= render 'general_calendar', general_schedule: @general_schedule %>
  </div>
</div>
