<div class="container">
  <h1>Hello <%= @user.username.capitalize %>!</h1>
  <%= link_to species_path do %>
    <div class="add-button">
      <%= icon('fas', 'plus-circle') %> Add a new plant
    </div>
  <% end %>

  <%= link_to eplant_path(@user.eplant.id) do %>
    <div class="eplant-button">
      <%= icon('fas', 'plus-circle') %> Visit <%= @user.eplant.nickname.capitalize %>
    </div>
  <% end %>

  <div class="cards mt-3">
    <% @plants.each do |plant| %>
      <div class="card-species">
        <div class="card-species-img card-plants-img">
          <%= link_to plant_path(plant.id) do %>
            <%= image_tag plant.specie.image_url %>
          <% end %>
        </div>
        <div class="card-species-infos card-plants-infos">
          <%= link_to plant_path(plant.id) do %>
            <h2><%= plant.nickname %></h2>
            <p> <%= plant.specie.name %></p>
          <% end %>
        </div>
        <div class="create-watering">
           <%= link_to inline_svg_tag('watering-can.svg'), plant_waterings_path(plant.id), method: :post %>
        </div>
      </div>
    <% end %>
  </div>
</div>
