<nav id="nav" class="nav" role="navigation">
  <%= link_to inline_svg_tag("logo-plant.svg"), root_path %>
  <a href="#nav" class="nav__toggle" id="nav__toggle">
    <svg class="menuicon" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
      <title>Toggle Menu</title>
      <g>
        <line class="menuicon__bar" x1="13" y1="16.5" x2="37" y2="16.5"/>
        <line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5"/>
        <line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5"/>
        <line class="menuicon__bar" x1="13" y1="32.5" x2="37" y2="32.5"/>
        <circle class="menuicon__circle" r="23" cx="25" cy="25" />
      </g>
    </svg>
  </a>
  <div id="menu" class='hidden'>
    <ul class="nav__menu ">
      <li class="nav__item"><%= link_to 'Home', root_path, class: "nav__link" %></li>
      <li class="nav__item"><%= link_to 'My garden', plants_path, class: "nav__link" %></li>
      <li class="nav__item"><%= link_to 'Calendar', calendar_path, class: "nav__link" %></li>
      <li class="nav__item"><a href="#" class="nav__link">About</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
      <% if user_signed_in? %>
        <li class="nav__item"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav__link" %></li>
      <% else %>
        <li class="nav__item"><%= link_to "Login", new_user_session_path, class: "nav__link" %></li>
      <% end %>
    </ul>
  </div>
</nav>
