
  <div class="plant-show-container">
    <div class="plant-info">
      <div class="plant-details d-flex justify-content-between align-items-center">
        <div class="flex-shrink-1">
          <h2 style="color: white"><%= @plant.nickname %></h2>
          <p class="m-0"><%= @plant.specie.name %></p>
        </div>
        <div class="plant-watering">
          <%=  image_tag("watering.png") %>
          <p> Water in <br> <%= @next_day %> days</p>
        </div>
      </div>
      <%= image_tag @plant.specie.image_url, id:"plant-img" %>
    </div>

    <div class="tabs-container">
      <!-- Tab links -->
      <div class="tab">
        <button class="tablinks top-left active-btn" data-tab="about">About</button>
        <button class="tablinks" data-tab="calendar">Calendar</button>
        <button class="tablinks top-right" data-tab="friends">Friends</button>
      </div>
      <!-- Tab contents -->
      <div class="tab-contents">
        <div id="about" class="tabcontent active">
          <div style="padding: 8px 8px">
            <%= render 'shared/about', species: @specie %>
          </div>
        </div>

        <div id="calendar" class="tabcontent">
          <div id="calendarPlant" style="height: 500px;"
              data-schedule="<%= @schedule.to_json %>">
          </div>
        </div>

        <div id="friends" class="tabcontent">
          <h3>These friends have the same plant!</h4>
          <% users = User.all %>
          <% users.each do |user| %>
            <% unless user == current_user %>
              <div class="mb-4 mt-4 friend card-friends">
                <%= cl_image_tag user.photo.key, class:"avatar-bordered-large" %>
                <h2 class='mb-0'> <%= user.username %> </h2>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% @skip_button_menu = true %>
  </div>
